:root {
  --primary-color: antiquewhite;
  --secondary-color: aliceblue;
  --spacing: 2rem;
}

body {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  background-color: var(--primary-color);
}

.container {
  padding: var(--spacing);
  border-radius: 2.5rem;
  height: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-heading {
  font-size: 12rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  padding: 1rem var(--spacing);
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--primary-color);
  font-weight: 700;
  border: 2px solid black;
  width: fit-content;
  border-radius: 9999px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.can {
  z-index: 1;
  height: 80%;
  max-height: 700px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

/* Hover */

.button:hover {
  cursor: pointer;
  background-color: white;
}
