:root {
  --primary-color: lightcyan;
  --secondary-color: aliceblue;
  --background-color: antiquewhite;
}

body {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  background-color: var(--background-color);
  position: relative;
  overflow: hidden;
}

.container {
  padding: 2rem;
  border-radius: 2.5rem;
  height: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container2 {
  background-color: var(--primary-color);
}

.main-heading {
  font-size: 12rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 500ms;
}

.button {
  padding: 1rem 2rem;
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--primary-color);
  font-weight: 700;
  border: 2px solid black;
  width: fit-content;
  border-radius: 9999px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
}

.slice1 {
  width: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
}

.slice2 {
  width: 20rem;
  position: absolute;
  top: 30%;
  left: 30%;
  rotate: -60deg;
  z-index: 3;
}

.leaf {
  width: 10rem;
  position: absolute;
  top: 20%;
  left: 55%;
  rotate: 90deg;
  z-index: 3;
}

.can {
  z-index: 1;
  height: 80%;
  max-height: 600px;
  top: calc(-2rem + 50%);
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  position: absolute;
}

.mask {
  mask-image: url(mask.png);
  mix-blend-mode: multiply;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.mask-linear {
  height: 100%;
  width: 100%;
  top: 0rem;
  left: 0rem;
  padding: 2rem;
  position: absolute;
  mask: linear-gradient(#000 0 0),
    linear-gradient(-90deg, #000 50%, #0000 0) content-box 100% 100% / 200% 200%
      no-repeat;
  mask-composite: exclude;
  transition: 500ms;
  border-radius: 2.5rem;
  z-index: 2;
}

.label {
  transition: transform 500ms;
  height: 100%;
  transform: translate(-35%, 0%);
}

/* Hover */

.button:hover {
  cursor: pointer;
  background-color: white;
}
